ANTHROPIC_API_KEY=
CHROMIA_NODE_URL=https://node0.testnet.chromia.com
CHROMIA_BRID=F28F1F618DE021A1701345B47D3DABF81661556EBEA3CFE62E2EC18EBDF44070
AGENT_WALLET_KEY=


#LISTENER
LISTENER_VERSION=1

#DATABASE
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
